.containner{
    background-color: #EEEEEE;
    padding-inline: 15px;
    padding-block: 15px;
    margin-inline: 30px;
    margin-block: 20px;
    border-radius: 5px;
}
.head {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-inline: 20px;
    padding-block: 15px;
    font-weight: 550;
    margin-block-end: 10px;
}
.result {
    display: flex;
    background-color: white;
    padding-inline: 20px;
    padding-block: 15px;
    font-weight: 300;
    font-size:16px;
    margin-block-end: 10px;
}
.failResult,.passedResult{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.footer {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-inline: 20px;
    padding-block: 15px;
    font-weight: 550;
}
.body {
    background-color: white;
    padding-inline: 20px;
    padding-block: 15px;
    margin-block: 15px;
}
.answers {
    background-color: #EEEEEE;
    padding-block-start: 1px;
    margin-block: 20px;
    border-radius: 7px;
    position: relative;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}
li{
   padding-block-start: 15px;
   padding-block-end: 10px;
   place-content: center;
   margin-inline-start: 10px;
}

input{
    cursor: pointer;
}
.submitBtn{
    background-color: #006df8;
    color:white;
    width: 100%;
    padding-block: 10px;
    margin-block: 0px 20px;
    border: none;
    border-radius: 5px;
}
.line{
    border-bottom: 1px #bbbbbb solid;
    width: 100%;
    margin-block-start: 5px;
    margin-inline-start: 0px;
}
.box-circle{
    display: flex;
    justify-content: flex-start;
}
.circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-inline-start:5px;
    background-color: #cccccc;
}

*{
    font-family: tahoma;
    font-size: 18px;
}

.hide{
    display: none;
}

label{
    padding-inline-start: 10px;
    cursor: pointer;
}

@media   (max-width:450px) {
    .footer,.head,.failResult
           {
            display:flex;
            flex-direction:column;
            gap:10px;
            align-items: center;
    }
}