<div class="containner">
    <div class="head">
        <span *ngIf=" questionsArray.length > 0">category:{{questionsArray[0].category}}</span>
        <span *ngIf="!finish">Q:{{questionIndexToShow+1}}</span>
        <span>Question count:{{questionsArray.length}}</span>
    </div>

    <div *ngIf="finish" class="result">
        <small *ngIf="!passed" class="red-text">bad</small>
        <small *ngIf="passed" class="green-text">perfect</small>
        , {{score}}/{{questionsArray.length}}!
    </div>

    <div *ngIf="!finish">
        <div class="body">
            <h2>{{questionToShow.question}}</h2>
            <div class="answers" id="answerBox">
                <ul *ngFor="let answer of questionToShow.answers; let i = index">
                    <div>
                        <li  (click)="selectOption(i)" [ngClass]="{'selectedAnswer':selectedOption === i}">
                            <input name="answers" [value]="questionToShow.id" (click)="selectOption(i)" type="radio"
                             [class.selectedAnswer]="selectedOption === i" [checked]="selectedOption === i" />
                            <label [for]="'answer-'+i" class="choices">{{answer}}</label>
                        </li>
                        <div class="border"></div>
                    </div>
                </ul>
            </div>
            <button class="submitBtn" (click)="showNextQuestion()">submit</button>
        </div>
    </div>

    <div *ngIf="!finish" class="footer">
        <div #parent class="box-circle">
            <div class="circle" *ngFor="let question of questionsArray;let i = index"
                [class.blue-circle]="i === coloredCircleIndex  || i < coloredCircleIndex">
            </div>
        </div>
        <cd-timer *ngIf="timerLoaded" #basicTimer [countdown]="true" (onComplete)="showNextQuestion()"
         format="ms" [startTime]="10"></cd-timer>
    </div>

    <div *ngIf="finish" id="allQuestions">
        <div class="body" *ngFor="let question of questionsArray,">
            <h2>Q:{{question.id+1}}) {{question?.question}}</h2>
            <div class="answers" id="allAnswers">
                <ul class='radioBox' *ngFor="let answer of question.answers; let i = index" 
                [ngClass]="{'correctAnswer': question.correctAnswersIndex === i,
                            'wrongAnswer': wrongAnswerSelected[question.id] === i }">
                    <li>
                        <input [name]="'answer-'+question.id" type="radio" [value]="answer" 
                        [disabled]="!(radioSelected[question.id] === i)" [checked]="radioSelected[question.id] === i" />
                        {{answer}}
                    </li>
                    <div class="border"></div>
                </ul>
            </div>
        </div>
    </div>
</div>